
<div class="about">
  <a class="text-monospace">About us page</a>
  <br>
  <a class="text-monospace">Some information about who we are and what we do.</a>
  <br>
  <button (click)="change()" class="buttonColor"> change color! </button>
</div>
<div class="row">
    <div class="column">
      <div  class="card">
        <img [src]="imgsajida" class="sajida" style="width: 45%;">
        <div  [class]="newstyle" class="container">
          <h2>Sajida ALi</h2>
          <p class="title">208172577 </p>
          <p>Second year studying software engineering.</p>
          <p>sajida.zoher@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
        <div class="card">
          <img [src]="imgnimer" class="nimer" style="width: 45%;">
          <div  [class]="newstyle" class="container">
            <h2>Nimer Kasem</h2>
            <p class="title">319117628</p>
            <p>Second year studying software engineering.</p>
            <p>nimerkasem7@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
</div>

