<nav class="navbar navbar-expand-sm bg-light navbar-light" style="margin-left:0px;">
    <div >
      <ul>
        <li>
          <img style="margin-left: 450px;" class="imglogo" [src]="logo">
        </li>
        <li>
          <a routerLink="home">Home</a>
        </li>
        <li>
          <a routerLink="catalog">catalog</a>
        </li>
        <li>
          <a routerLink="about">About</a>
        </li>
        <li >
          <a  routerLink="profile">Profile</a>
        </li>
        <li style="float:right;">
          <a routerLink="cart">mycart</a>
        </li>
      </ul>      
    </div>
  </nav>

