.ng-valid[required]{
    border-left:5px solid rgb(144, 225, 144);
}
.ng-invalid:not(form){
    border-left:5px solid rgb(230, 112, 112);    
}
label ,P{
    color:rgb(114, 49, 49) ;
    font-family: cursive;
}  

    